<div class="row">
    <div class="twelve columns greetings">
        <h1 class="greet-h1">GREETINGS</h1>
    </div>
</div>
    <div class=" row">
        <form action="/home" method="POST">
            <div class="two columns">
                <button class="button-primary Greetbtn" type="submit" name="button">HOME </button>
            </div>
        </form>

        <form action="reset" method="post">
            <div class="two columns">
                <button class="button-primary Clearbtn" type="submit" name="">CLEAR DB</button>
            </div>
    </div>
    </form>
    <table>
        <tr>
            <th>names</th>
            <th>times greeted</th>
        </tr>
        {{#each greetings}}
        <tr>
            <td><a href='/counter/{{names}}'>{{names}}</a></td>
            <td>{{counts}}</td>
        </tr>
        {{/each}}
    </table>

    <div class="row">
        <div class="twelve columns" id="main-footer">
            <footer>
                <p>Developed by Siphenkosi Salman &copy; 2018</p>
            </footer>
        </div>
    </div>