<div class="row">
    <div class="twelve columns greetings">
        <h1 class="greet-h1">GREETINGS</h1>
    </div>
</div>
<div class=" row">
    <form action="/home" method="POST">
        <div class="six columns">
            <button class="button-primary Greetbtn" type="submit" name="button">HOME </button>
        </div>
    </form>

    
</div>

<p class="times"><span class="timesname">{{names}}</span> has been greet {{counts}} time(s)</p>

<form class="six columns" action="/greeted" method="get">
    <div class="row">
        <div class="six columns">
            <button class="button-primary Greetbtn" type="submit" name="button">BACK </button>
        </div>
    </div>
</form>
<form action="/reset" method="post">
    <div class="six columns">
        <button class="button-primary Clearbtn" type="submit" name="">CLEAR DB</button>
    </div>
</form>

<div class="row">
    <div class="twelve columns" id="main-footer">
        <footer>
            <p>Developed by Siphenkosi Salman &copy; 2018</p>
        </footer>
    </div>
</div>